<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: cornflowerblue;">
<h1> <center><font face="arial">Registration Form</font></center></h1>
<br>
<br>
<br>
<br>
<center><font face="arial"><label for="">Name</label></center></font>
<center><input type="text" placeholder="enter your name" name="Username"></center>
<br>
<center><font face="arial"><label for="">Select Your Gender</label></font></center>
<center><font face="arial"><input type="radio" name="Male">Male</font></center>
<center><font face="arial"><input type="radio" name="Male">Female</font></center>
<br>
<center><font face="arial"><label for="">Age</label></center></font>
<center><input type="text" placeholder=" enter your age" name="Age"</center>
<br>
<br>
<center><font face="arial"><label for="">Select Your Language</label></font></center>
<center><font face="arial"><input type="checkbox">Tamil</font></center>
<center><font face="arial"><input type="checkbox">English</font></center>
<center><font face="arial"><input type="checkbox">Telugu</font></center>
<center><font face="arial"><input type="checkbox">Malayalam</font></center>
<center><font face="arial"><input type="checkbox">Hindi</font></center>
<br>
<center><font face="arial"><label for="">Email</label></font></center>
<center><font face="arial"><input type="email" placeholder="name@gmail.com"></font></center>
<br>
<input type="submit"><input type="reset">
</body>
</html>